{% extends 'page.html' %}

{% block page_content %}
<p>
   PixelEconomy is a virtual marketplace for creating, selling and buying pixel art.
</p>
<h3>Inspiration</h3>
<p>
   Many of you will relate with me when I say that my first exposure to markets as a kid didn’t look like charts and candlesticks. Instead, it looked like the trading lobbies of popular MMORPG games: hundreds of chat boxes covering the screen, with people frantically advertising and trading in-game items.
</p>
<center style="
   padding: .5rem 0;
   margin-bottom: 1rem;
   ">
   <img src="/res/img/rotmg.png" style="max-width: min(300px, 100%);margin-bottom: 0.2rem;">
   <span style="
      font-size: 16px;
      "><i>Screenshot of a trading lobby in a MMORPG</i></span>
</center>
<p>
   While there are great virtual trading platforms and a plethora of technical resources out there, why is it more likely that you’ll find a child learning about trading through a game instead?<br>
   Posed like this, the answer is obvious: to a kid, games are simply more fun. They are designed and marketed to be that way, after all.
</p>
<p>
   Improving financial education for all starts with children, and that means making things more fun and accessible. Is there something we could complement with the usual investing stuff to try to achieve this? Something fun, something visual. PixelEconomy is my answer.
</p>
<p>
   Though it’s not just children who can benefit from this platform, it’s anyone of any age that may be interested in a safe sandbox marketplace where they can freely familiarise themselves with the fundamentals of investing through experimentation.
</p>
<p>
   Or even if investing isn’t your thing, who doesn’t like a good bit of pixel art? And who knows, maybe PixelEconomy will end up changing your opinion on investing :)
</p>
{% endblock %}