{% extends 'page.html' %}

{% block page_content %}
    <div class="grid">
        <div class="gridbox">
            {% for art in arts %}
                <div class="grid-item">
                    <div class="art-item" market-id="{{ art.id }}">
                        <center><img src="{{ art.data }}"></center>
                        <h6>{{ art.title }} &mdash; {{ art.creator }}</h6>
                        <center><button>Buy for {{ art.price }}</button></center>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="/res/js/buy.js"></script>
{% endblock %}