{% extends 'page.html' %}

{% block page_content %}
    <div class="grid">
        <div class="gridbox">
            {% for art in arts %}
                <div class="grid-item">
                    <div class="art-item" art-id="{{ art.id }}">
                        <center><img src="{{ art.data }}"></center>
                        <h6>{{ art.title }} &mdash; {{ art.creator }}</h6>
                        <center><span>Price: </span><input type="number" min="1" step="any" value="50"/><button{% if art.on_marketplace %} class="disabled-button"{% endif %}>Sell</button></center>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="/res/js/sell.js"></script>
{% endblock %}